.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  .title {
    color: #fff;
    font-size: 24px;
  }
}

.hiden {
  display: none;
}
