@tailwind base;
@tailwind components;
@tailwind utilities;

h1, p, span {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

.iconfont {
  fill: currentColor;
  overflow: hidden;
}

.w100percent {
  width: 100%;
}

.h100percent {
  height: 100%;
}
