.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  overflow: hidden;
}

.title-wrapper {
  box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.title {
  padding-right: 20px;
  color: #fff;
  font-size: 24px;
}

.potal-tools-wrapper {
  flex-grow: 1;
}
