.three-content-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: orange;
}

.tools-wrapper {
  padding: 10px 6px;
  position: absolute;
  top: 0;
  left: 0;
}

.three-scene {
  height: 100%;
  width: 100%;
}
