.three-content-wrapper {
  flex-grow: 1;
  height: 100%;
  position: relative;
}

.hidden {
  display: none;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.three-scene {
  height: 100%;
  width: 100%;
}
